
* {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #A48D66;
    font: 14px/23px proxima-nova-alt,"Proxima Nova Alt",sans-serif;
}
h1, h2, h3, h4, b {
    font-family: bree-web,Bree,sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 28px;
    padding-bottom: 60px;
}
b {
    color: #C3522F;
    font-size: 16px;
    font-weight: 500;
}
#logo {
    left: 80px;
    margin-left: -17px;
    position: absolute;
    top: 40px;
    z-index: 2;
}
.banner {
    background: none repeat scroll 0 0 #5B4D3D;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 24px;
    overflow: auto;
    position: relative;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.banner ul {
    list-style: none outside none;
    width: 300%;
}
.banner ul li {
    background-size: 100% 100%;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1) inset;
    display: block;
    float: left;
    min-height: 350px;
    width: 33%;
}
.banner .inner {
    padding: 160px 0 110px;
}
.banner h1, .banner h2 {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 52px;
}
.banner .btn {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    text-decoration: none;
    text-transform: uppercase;
}
.banner .btn:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
}
.banner .btn:active {
}
.banner .btn, .banner .dot {
}
.banner .dots {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
}
.banner .dots li {
    border: 2px solid #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    opacity: 0.4;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 10px;
}
.banner .dots li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 1;
}
.banner .arrows {
    bottom: 20px;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
}
.banner .arrow {
    cursor: pointer;
    display: inline;
    padding-left: 10px;
}
.features {
    background: none repeat scroll 0 0 #F7F7F6;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.03) inset;
    overflow: hidden;
    padding: 50px 0;
}
.features li {
    float: left;
    list-style: none outside none;
    padding: 0 25px 0 40px;
    position: relative;
    width: 25%;
}
.features li:before {
    background: url("img/icons.png") repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}
.features li.browser:before {
    background-position: 0 -44px;
}
.features li.height:before {
    background-position: 0 -22px;
}
.features li.responsive:before {
    background-position: 0 -66px;
}
.features b {
    display: block;
    padding-bottom: 6px;
}
.how {
    padding: 60px 0;
}
.how h2 {
    color: #7C6853;
}
.how h3 {
    color: #7B6B53;
    font-size: 20px;
    line-height: 10px;
    padding-bottom: 8px;
}
.how li {
    margin: 0 0 40px 15px;
    padding-left: 10px;
    position: relative;
    width: 375px;
}
.how pre {
    background: none repeat scroll 0 0 #F8F5F0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(180, 157, 125, 0.15) inset, 0 0 1px rgba(0, 0, 0, 0.2) inset;
    color: #8A785D;
    font-size: 12px;
    left: 450px;
    line-height: 18px;
    padding: 20px 25px;
    position: absolute;
    top: 0;
    width: 495px;
}
.how p {
    padding-bottom: 15px;
}
.options {
    background: none repeat scroll 0 0 #39342D;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    color: #7B7368;
    padding: 60px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.options a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}
.options a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}
.options p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}
.options h2 {
    color: #FFFFFF;
    padding-bottom: 15px;
}
.options pre {
    background: none repeat scroll 0 0 #342F29;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset;
    color: #988F81;
    font-size: 13px;
    line-height: 19px;
    padding: 20px 25px;
}
.options pre span {
    color: #706657;
}
.footer {
    padding: 80px 0 60px;
    text-align: center;
}
.footer .btn {
    background-color: #C4652D;
    background-image: -moz-linear-gradient(center top , #D07936, #B95124);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 2px rgba(0, 0, 0, 0.15) inset, 0 2px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 13px 24px 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.footer .btn span {
    font-weight: normal;
    opacity: 0.8;
}
.footer .btn:hover {
    color: #FFFFFF;
    opacity: 0.95;
}
.footer .btn:active {
    background-color: #BC5F29;
    background-image: -moz-linear-gradient(center top , #B55625, #C3692D);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset, 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.footer a {
    border-bottom: 1px solid #DDD2C6;
    color: #79654E;
    margin: 0 4px;
    text-decoration: none;
}
.footer a:hover {
    border-color: #D1BFA9;
    color: #665139;
}
.wrap {
    margin: 0 auto;
    width: 960px;
}
.wrap {
    width: 90%;
}
#logo {
    left: 50px;
    top: 30px;
}
.banner h1, .banner h2 {
    font-size: 24px;
    line-height: 30px;
}
.banner ul li {
    height: 240px;
}
.banner .inner {
    padding-bottom: 50px;
    padding-top: 100px;
}
.banner p {
    font-size: 15px;
    margin: 0 auto;
    width: 80%;
}
pre {
    overflow: auto;
}
.features li {
    margin-bottom: 30px;
    margin-left: 10px;
    width: 100%;
}
.how li {
    width: 90%;
}
.how pre {
    position: static;
    width: 100%;
}
.features li:before {
    background: url("img/icons@2x.png") repeat scroll 0 0 / 100% auto transparent;
}
/* CSS Document */

